Schule/3. Klasse/INSY/xml/book.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="book">
        <xs:sequence>
            <xs:element name="title" type="xs:string" />
            <xs:element name="author" type="xs:string" />
            <xs:element name="print" type="xs:date" />
            <xs:element name="pages" type="xs:int" />
            <xs:element name="description" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="book" type="book" />
    <xs:element name="root" />
</xs:schema>