Schule/4. Klasse/INSY/xml/travel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="travelAgency" type="travelAgencyType"/>
  <xs:complexType name="venueType" mixed="true">
    <xs:sequence>
      <xs:element name="country" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Croatia"/>
            <xs:enumeration value="Austria"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="summercampType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Fun Diving"/>
            <xs:enumeration value="Hiking &amp; Biking with kids"/>
            <xs:enumeration value="Big Waves Tour"/>
            <xs:enumeration value="Sailing for beginners"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="venueType" name="venue"/>
      <xs:element name="sport" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Scuba Diving"/>
            <xs:enumeration value="Mountain Biking"/>
            <xs:enumeration value="Hiking"/>
            <xs:enumeration value="Surfing"/>
            <xs:enumeration value="Sailing"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="duration">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="7"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="date" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5.7.2018"/>
            <xs:enumeration value="5.8.2018"/>
            <xs:enumeration value="15.7.2018"/>
            <xs:enumeration value="1.8.2018"/>
            <xs:enumeration value="15.8.2018"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="wintercampType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Advanced Skiing"/>
            <xs:enumeration value="Fun Diving"/>
            <xs:enumeration value="Hiking &amp; Biking with kids"/>
            <xs:enumeration value="Big Waves Tour"/>
            <xs:enumeration value="Sailing for beginners"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="venueType" name="venue"/>
      <xs:element name="sport" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Skiing"/>
            <xs:enumeration value="Snow Board"/>
            <xs:enumeration value="Scuba Diving"/>
            <xs:enumeration value="Mountain Biking"/>
            <xs:enumeration value="Hiking"/>
            <xs:enumeration value="Surfing"/>
            <xs:enumeration value="Sailing"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="duration">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="7"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="date" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5.7.2018"/>
            <xs:enumeration value="5.8.2018"/>
            <xs:enumeration value="15.7.2018"/>
            <xs:enumeration value="1.8.2018"/>
            <xs:enumeration value="15.8.2018"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="sportcampsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="summercampType" name="summercamp" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="wintercampType" name="wintercamp"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="customerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="customersType">
    <xs:sequence>
      <xs:element type="customerType" name="customer" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookingType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="customerid" use="optional"/>
        <xs:attribute type="xs:string" name="campid" use="optional"/>
        <xs:attribute type="xs:string" name="date" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="bookingsType">
    <xs:sequence>
      <xs:element type="bookingType" name="booking" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="travelAgencyType">
    <xs:sequence>
      <xs:element type="sportcampsType" name="sportcamps"/>
      <xs:element type="customersType" name="customers"/>
      <xs:element type="bookingsType" name="bookings"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>